/* Estilos para la página de Agendar Cita */

body {
    font-family: sans-serif;
    background-color: #f4f4f4; /* Un fondo gris claro */
    margin: 0;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../imagenes/Menus.png);
    background-size: cover;
    background-position: center;
}

header {
    background: rgba(33,180,226,1); /* Uno de los colores finales del gradiente */
    color: white;
    padding: 20px 0;
    border-radius: 20px; /* Bordes redondeados */
    text-align: center;
    width: 40%;
    margin-bottom: 20px;
}
 
main {
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    color: #333;
}

input[type="date"],
input[type="time"],
select {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 15px; /* Usando el mismo radio que los campos de texto */
    font-size: 18px;
    box-sizing: border-box;
}

button {
    background: rgba(113,206,239,1); /* Un color intermedio del gradiente */
    color: black;
    padding: 10px 30px;
    border: none;
    border-radius: 15px; /* Usando el mismo radio que los botones */
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

button:hover {
    background: #2e86d8; /* Color más intenso al hacer hover */
    color: white;
}

#mensaje {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #28a745; /* Un color verde para mensajes de éxito */
    text-align: center;
}

a {
    width: 80px;
    height: 80px;
    background-image: url('../imagenes/Atras.png');
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    border: 0px;
    cursor: pointer;
    transition: background 0.3s;
    position: absolute;
    left: 0;
    margin: 5%;
    top: 0;
    background-size: 80px 80px;
}

a:hover {
    background-image: url(../imagenes/Atras_hover.png);
}