/* Estilos para mostrar el menú de usuario */


body {
    background-image: url(../imagenes/Menus.png);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    color: white;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

.menu-usuario {
    background: linear-gradient(135deg, #a1c4fd 0%, #c2e9fb 100%);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.menu-usuario ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

.menu-usuario li {
    margin: 15px 0;
}

.menu-usuario a {
    display: block;
    padding: 12px 25px;
    text-decoration: none;
    color: #333;
    font-size: 18px;
    border-radius: 10px;
    background-color: #fff;
    transition: background-color 0.3s ease;
}

.menu-usuario a:hover {
    background-color: #e0f7fa;
    color: #007bff;
}