/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* Estilos para la página de actualización de disponibilidad */
body {
    font-family: sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../imagenes/Menus.png);
    background-size: cover;
    background-position: center;
}

h1 {
    background: rgba(33,180,226,1); /* Uno de los colores finales del gradiente */
    color: white;
    padding: 20px 0;
    border-radius: 20px; /* Bordes redondeados */
    text-align: center;
    width: 80%;
    max-width: 600px;
    margin-bottom: 20px;
}

div {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="date"],
input[type="time"] {
    width: calc(100% - 12px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button[type="submit"] {
    background: rgba(113,206,239,1); /* Un color intermedio del gradiente */
    color: black;
    padding: 10px 30px;
    border: none;
    border-radius: 15px; /* Usando el mismo radio que los botones */
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

a {
    width: 80px;
    height: 80px;
    background-image: url('../imagenes/Atras.png');
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    border: 0px;
    cursor: pointer;
    transition: background 0.3s;
    position: absolute;
    left: 0%;
    top: 0%;
    margin: 5%;
    background-size: 80px 80px;
}

a:hover {
    background-image: url(../imagenes/Atras_hover.png);
}
